body {
  background-color: #ffffff
}

div {
  text-align: center;
}

div #headerBox {
  color: #000000;
  font-size: 50px;
  margin: 10px
}

p {
  color: #000000;
  font-size: 25px
}

h2 {
  color: #000000;
  font-size: 35px
}

}

.blogBox {
  margin: 50px;
}

a:link {
  color: olive;
}

a:visited {
  color: olive;
}

a:hover {
  color: olive;
}

a:active {
  color: olive;
}

#menuBox {
  Display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.blogBox {

}

.linkBox {
  border: solid #1b1c1b
}
