body {
  background-color: #edd9b2
}

div {
  text-align: center;
}

div #headerBox {
  background-color: #f5e90a;
  font-size: 50px;
  margin: 10px
}

div #headerBox {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

p {
  color: #000000;
  font-size: 25px
}

h2 {
  color: #000000;
  font-size: 35px
}

h2 {
  text-shadow: 2px 2px #f5e90a;
}

.blogBox {
  margin: 50px;
}

a:link {
  color: olive;
}

a:visited {
  color: olive;
}

a:hover {
  color: olive;
}

a:active {
  color: olive;
}

#menuBox {
  Display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.blogBox {}

.linkBox {
  border: solid #1b1c1b
}

#shrek {
  float: inherit;
}
